
#
# Module configuration file for
# Sem1Eqela
# (com.mycompany.sem1eqela)
#

displayname: Sem1Eqela
moduletype: widgetapplication
depends: com.eqela.libcommonwidget
depends: com.eqela.libtextinputwidget
depends: com.eqela.libselectorwidget
depends: com.eqela.libdialogwidget
depends: com.eqela.libpopupwidget
depends: com.eqela.libapplicationdata
